html {
  font-size: 100%;
  font-family: "Trebuchet MS", sans-serif;
	text-decoration: none;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  display: grid;
  background-color: #222222;
}

.page {
  display: grid;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.container-1c, .container-2c {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  grid-gap: 0.5vw;
}

.container-1c {
  grid-template-columns: 1fr;
}

.container-2c {
  grid-template-columns: 1fr 1fr;
}

.box {
  width: 100%;
  float: center;
  margin: 0;
  padding: 1vw;
}

.header, .footer {
	width: 100%;
	height: 50px;
	border-radius: 8px;
  padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 2%;
	padding-right: 2%;
}

.header {
	background: url("../img/f_Header_s_4.jpg") no-repeat center;
}

.footer {
	background: url("../img/Header_s_4.jpg") no-repeat center;
}

button {
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
}

button.small, button.big, button.menu {
	background-color: #9aaaa9;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 1em;
	font-weight: 500;
	text-align: center;
  text-decoration: none;
	padding: 0.5em;
	color: #222222;
}

button.small:hover, button.big:hover, button.menu:hover {
  background-color: #28414e;
	color: #9aaaa9;
}

button.small:active, button.big:active, button.menu:active {
  background-color: #9aaaa9;
	color: #222222;
}

button.small {
  width: 35%;
}

button.big {
  width: 60%;
}

button.menu {
	display: block;
	width: 100%;
}

button.icon {
	background-color: #222222;
	padding: 1px;
	width: 38px;
	height: 38px;
}

button.icon:hover {
	background-color: #b07179;
}

button.icon:active {
	background-color: #222222;
}

h1 {
  font-size: 28px;
	margin: 4px;
  color: #bbbbbb;
  text-align: left;
  text-decoration: none;
}

h1.home {
	background-color: #9aaaa9;
	color: #222222;
	border-radius: 8px;
	margin-left: 0vw;
	margin-right: 0vw;
	margin-top: 1.5vh;
	margin-bottom: 0.5vh;
  padding: 3.5vh;
	font-size: 4.5vh;
	text-align: center;
  text-decoration: none;
}

h2 {
  font-size: 1.25em;
  color: #bbbbbb;
  margin: 4px;
  padding: 4px;
  text-align: left;
  text-decoration: none;
}

p {
	display: block;
	color: #bbbbbb;
	margin: 10px;
}

@media screen and (max-width: 1600px) {
  .page {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .page {
    width: 96%;
  }
  .container-2c {
    grid-template-columns: 1fr;
  }
	.box {
		padding: 0.5vw;
	}
}

hr {
	margin: 0;
	height: 30px;
	border: none;
	border-radius: 8px;
	background-color:#bbbbbb;
	width: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.big {
	width: 95%;
	border-radius: 16px;
}

img.small {
	border-radius: 8px;
	width: 35%;
}

img.logo {
	width: 20vh;
}

img.button {
	margin-bottom: auto;
  margin-top: auto;
 	padding: 1vh;
}

a {
  text-decoration: none;
}
a:link {
  color: #6cb9bf;
}
a:visited{
  color: #d88b91;
}
a:hover {
  color: #d88b91;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
}
